* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  margin-bottom: 20px;
}

header .website-header {
  padding: 10px 20px;
  background-color: #181818;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  user-select: none;
}

header .website-header .title {
  font-size: 35px;
  font-weight: bold;
}

header .website-header .description {
  font-size: 15px;
  text-align: center;
}

header .navbar {
  background-color: #272727;
  color: #eee;
  user-select: none;
  padding: 10px 0 0;
}

header .navbar .calc-by {
  text-align: center;
  margin-bottom: 5px;
}

header .navbar .calc-options {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

header .navbar .calc-mobile-options {
  display: none;
}

header .navbar .calc-options .option {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s all ease-in-out;
}

header .navbar .calc-options .option:hover:not(.select) {
  box-shadow: inset 0 0 20px 20px #ffffff26;
}

header .navbar .calc-options .option:active:not(.select) {
  font-size: 15px;
}

header .navbar .calc-options .option.select {
  background-color: #fff;
  color: #272727;
  cursor: auto;
  border-radius: 0.25rem 0.25rem 0 0;
}

@media (max-width: 990px) {
  header .navbar .calc-options {
    display: none;
  }

  header .navbar .calc-mobile-options {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  header .navbar .calc-mobile-options > * {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 5px;
    position: relative;
  }

  header .navbar .calc-mobile-options .to-prev,
  header .navbar .calc-mobile-options .to-next {
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  header .navbar .calc-mobile-options .to-prev:hover,
  header .navbar .calc-mobile-options .to-next:hover {
    box-shadow: inset 0 0 20px 20px #ffffff26;
  }

  header .navbar .calc-mobile-options .to-prev:active,
  header .navbar .calc-mobile-options .to-next:active {
    font-size: 16px;
  }

  header .navbar .calc-mobile-options .current {
    background-color: #fff;
    border: 1px solid #272727;
    color: #272727;
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  header .navbar .calc-mobile-options .current .selected {
    border-bottom: 2px solid #777;
    display: flex;
    overflow-x: hidden;
  }

  header .navbar .calc-mobile-options .current .selected .option {
    min-width: 100%;
    margin: 5px 0;
    transform: translateX(-300%);
    transition: 0.2s all ease-in-out;
  }

  body[dir="rtl"]
    header
    .navbar
    .calc-mobile-options
    .current
    .selected
    .option {
    transform: translateX(300%);
  }
}

.calc {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.calc .watch,
.calc .collection {
  width: fit-content;
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: start;
  border-inline-start: 2px solid #787878;
  padding-inline-start: 10px;
  border-radius: 0.15rem;
}

.calc .watch .options,
.calc .collection > .options {
  display: grid;
  color: #eee;
  height: 90%;
  grid-template-rows: 90%;
  font-weight: bold;
  font-size: 14px;
  align-content: space-around;
}

.calc .watch .options span,
.calc .collection > .options span {
  padding: 2px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.calc .watch .options span:last-child,
.calc .collection > .options span:last-child {
  border-bottom-right-radius: 0.15rem 0.15rem 0 0;
  background-color: #ff3b3b;
}

.calc .watch .fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calc .watch .fields .field {
  margin: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 10px;
}

.calc .watch .fields .field input {
  padding: 5px 10px;
  border-bottom: 2px solid #aaa;
  text-align: center;
  font-size: 16px;
  transition: 0.2s all ease-in-out;
}

.calc .watch .fields .field input:focus {
  outline: none;
  border-bottom-color: #777;
}

.calc .watch .fields .field .label {
  text-align: center;
  user-select: none;
  color: #383838;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.calc .collection {
  width: 70%;
  margin: 20px auto 10px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.calc .collection .collection {
  width: 100%;
}

.calc .collection > .options {
  grid-row: span 2;
}

.calc .collection .formulas {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.calc > .nothing,
.calc .collection .formulas .nothing {
  width: 100%;
  text-align: center;
  color: #ababab;
  border: 2px dotted #ababab;
  border-radius: 0.15rem;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0.15rem;
  user-select: none;
}

.calc > .nothing {
  width: 70%;
  margin: 10px auto;
}

@media (min-width: 991px) {
  .calc .signs {
    margin: 10px auto;
    column-gap: 5px;
    row-gap: 5px;
    position: relative;
    width: 100px;
    height: 90px;
  }

  .calc .signs .sign.select {
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  .calc .signs .sign.sign1 {
    left: 0;
  }

  .calc .signs .sign.sign2 {
    left: calc(50% - 15px);
  }

  .calc .signs .sign.sign3 {
    right: 0;
  }
}

.calc .signs .sign {
  text-align: center;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid transparent;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.calc .signs .sign:not(.select):hover {
  transform: scale(1.05);
  border-color: #aaa;
}

.calc .signs .sign:not(.select):active {
  transform: scale(0.98);
}

@media (max-width: 990px) {
  .calc .signs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .calc .signs .sign {
    position: static;
  }

  .calc .signs .sign.select {
    transform: scale(1.2);
    border: 1px solid #aaa;
  }
}

.calc > *:nth-last-child(2) {
  margin-bottom: 20px;
}

.calc .buttons {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30%;
  justify-content: center;
  row-gap: 15px;
  margin: auto auto 0;
  justify-items: center;
  align-items: center;
}

@media (max-width: 990px) {
  .calc .buttons {
    grid-template-columns: 60%;
  }
}

.calc .collection > .buttons {
  grid-template-columns: auto auto;
  column-gap: 15px;
  margin: 15px auto 5px;
}

.calc .buttons > div {
  background-color: #383838;
  color: #eee;
  padding: 7px 10px;
  border-radius: 0.15rem;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s all ease-in-out;
}

.calc .buttons > div:hover,
.calc .watch .options span:hover,
.calc .collection > .options span:hover {
  transform: scale(1.05);
  box-shadow: inset 0 0 20px 20px #2727274f;
}

.calc .buttons > div:active,
.calc .watch .options span:active,
.calc .collection > .options span:active {
  transform: scale(0.98);
}

.calc .buttons .reset {
  background-color: #ff3b3b;
}

.calc .buttons .calculating {
  background-color: #2196f3;
}

.calc .buttons .reset.active,
.calc .watch .options span:last-child.active,
.calc .collection > .options span:last-child.active {
  box-shadow: inset 0 0 20px 20px #2727274f;
}

.confirm,
.attention {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  text-align: center;
}

.confirm .title,
.attention .title {
  background-color: #383838;
  padding: 5px 10px;
  color: #eee;
  border-radius: 0.15rem 0.15rem 0 0;
  user-select: none;
}

.confirm .body,
.attention .body {
  background-color: #fff;
  padding-top: 5px;
  overflow: hidden;
  border-radius: 0 0 0.15rem 0.15rem;
}

.confirm .body .message,
.attention .body .message {
  padding: 0 10px;
}

.attention .body .message {
  padding: 10px 5px;
}

.confirm .body .confirm-buttons {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  margin-top: 10px;
}

.confirm .body .confirm-buttons > div,
.attention .body .attention-button {
  background-color: #494949;
  color: #eee;
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.2s all ease-in-out;
}

.confirm .body .confirm-buttons > div:hover,
.attention .body .attention-button:hover {
  box-shadow: inset 0 0 20px 20px #27272778;
}

.confirm .body .confirm-buttons > div:active,
.attention .body .attention-button:active {
  font-size: 13px;
}

.waiting {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.waiting .container {
  --animation-duration: 5s;
  width: 60px;
  height: 60px;
  border: 4px solid #272727;
  border-radius: 50%;
  position: relative;
  transform: rotateZ(135deg);
  transition: 0.2s all ease-in-out;
  animation: var(--animation-duration, 5s) rotation linear infinite;
}

.waiting .container > * {
  position: absolute;
  background-color: #272727;
  transition: inherit;
}

.waiting .container .vertical-line {
  top: 50%;
  height: 13.4%;
  width: 66.7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.waiting .container .top,
.waiting .container .bottom {
  width: 13.4%;
  height: 33.4%;
  left: 50%;
  transform: translateX(-50%);
  animation: var(--animation-duration, 5s) grow-shrink linear infinite;
}

.waiting .container .top {
  top: 16.7%;
  transform-origin: top;
}

.waiting .container .bottom {
  bottom: 16.7%;
  transform-origin: bottom;
}

.waiting .message {
  font-weight: bold;
  font-size: 16px;
  color: #272727;
  user-select: none;
}

.waiting .message::after {
  content: "";
  animation: 3s dots linear infinite;
}

footer {
  background-color: #fff;
  font-size: 15px;
  user-select: none;
  border-top: 1px solid #aaa;
  box-shadow: 1px 7px 20px 1px #aaa;
}

footer .footer-box {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

footer .footer-box > * {
  padding: 5px 4px;
  cursor: pointer;
  position: relative;
  color: #272727;
  transition: 0.2s all ease-in-out;
}

footer .footer-box > *::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #393939;
  transform: scaleX(0);
  transition: 0.2s all ease-in-out;
}

footer .footer-box > *:hover {
  color: #494949;
}

footer .footer-box > *:active {
  font-size: 14px;
}

footer .footer-box > *:hover::after {
  transform: scaleX(1);
}

footer .copyright {
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background-color: #efefef;
  color: #272727;
}

.result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  row-gap: 10px;
  overflow: auto;
  color: #272727;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
}

.result .title {
  font-size: 20px;
  user-select: none;
  font-weight: bold;
}

.result .container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 70%;
  align-items: center;
}

.result .container .index {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
}

.result .container .index > * {
  padding: 5px 10px;
  text-align: center;
}

.result .container .index .number {
  border-inline-end: 1px solid #aaa;
  background-color: #efefef;
}

.result .container .index .time {
  font-weight: bold;
  user-select: none;
}

.result .container .partition {
  font-weight: bold;
  font-size: 18px;
  transform: rotateZ(90deg);
  user-select: none;
}

.result .container .zero {
  font-size: 35px;
  font-weight: bold;
  user-select: none;
  color: #383838;
  margin: 50px 0;
}

.result .calc-again {
  padding: 5px 10px;
  background-color: #272727;
  color: #eee;
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  margin-top: 10px;
}

.result .calc-again:hover {
  transform: scale(1.05);
  box-shadow: inset 0 0 20px 20px #00000067;
}

.result .calc-again:active {
  transform: scale(0.98);
}

noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  row-gap: 10px;
  justify-content: center;
  background-color: #fff;
  flex-direction: column;
}

noscript .noscript-title {
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  text-align: center;
}

noscript .noscript-title span {
  color: #ff9800;
}

noscript .noscript-description {
  text-align: center;
  font-size: 18px;
  width: 80%;
  line-height: 1.5;
}

@keyframes rotation {
  0% {
    transform: rotateZ(135deg);
  }
  12.5% {
    transform: rotateZ(135deg);
  }
  15% {
    transform: rotateZ(0);
  }
  85% {
    transform: rotateZ(0);
  }
  87.5% {
    transform: rotateZ(135deg);
  }
  100% {
    transform: rotateZ(135deg);
  }
}

@keyframes grow-shrink {
  0% {
    transform: translateX(-50%);
  }
  15% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-50%);
  }

  30% {
    transform: translateX(-50%) scaleY(0.5);
  }

  42.5% {
    transform: translateX(-50%) scaleY(0.5);
  }

  45% {
    transform: translateX(-50%) scaleY(0);
  }

  55% {
    transform: translateX(-50%) scaleY(0);
  }

  57.5% {
    transform: translateX(-50%) scaleY(0.5);
  }

  70% {
    transform: translateX(-50%) scaleY(0.5);
  }

  75% {
    transform: translateX(-50%);
  }
  85% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes dots {
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
